@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* To Change all */
:host {
  --fonts-default: 'Inter', 'Tangerine', cursive, 'Roboto';
}

/* To change specific part of the chatbot */
.vfrc-assistant-info--title {
  --fonts-default: 'Sevillana', cursive;
}

@keyframes come-in {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  30% {
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    transform: translateX(0) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

.vfrc-launcher {
  width: 65px;
  height: 65px;
  background: #13410C;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  transition: all 0.3s;
}
